* {
  max-width: 850px;
  margin: auto;
}
body {
  background-color: rgb(61, 14, 57);
  color: rgb(236, 236, 236);
}

img {
  display: block;
}

.answerButton {
  background-color: rgb(53, 50, 50);
  color: rgb(255, 255, 255);
  width: 200px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  border-color: rgb(161, 158, 170);
  border-radius: 5px;
  border-width: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.answerButton:hover {
  transform: translateX(50%);
  transform: scale(1.05);
  border-color: rgb(62, 155, 74);
}

.nextButton {
  background-color: rgb(53, 50, 50);
  color: white;
  width: 75px;
  height: 35px;
  cursor: pointer;
  border-color: rgb(161, 158, 170);
  border-radius: 5px;
  border-width: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 10px;
  margin-left: 10px;
}

.nextButton:hover {
  transform: scale(1.05);
}

.question {
  font-family:'Helvetica', 'Arial Narrow', Arial, sans-serif;
  font-size:20px;
}

#audio {
  margin-bottom: 10px;
}

#btnDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container {
  margin: auto;
  max-width: 500px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(29, 29, 29);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* box-shadow: 5px 5px rgb(8, 8, 8); */
  min-height: 100vh;
}

#outer {
  background-color: rgb(96, 41, 100);
  min-height: 100vh;
  height: 100%;
}

#title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(77, 18, 64);
  padding-bottom: 20px;
  padding-top: 20px;
  border-color: rgb(161, 158, 170);
  border-width: 3px;
  border-style: solid;
}